@model UserViewModel
@{
    ViewBag.Title = "Index Account";
}
@section Scripts {
    <script src="/js/notification.js"></script>
}
<h3 class="h3 mb-2 text-gray-800"><a asp-action="Create" asp-controller="User" asp-area="Admin" class="text-decoration-none text-white btn btn-primary">Create User</a></h3>
@if (TempData["MessageSuccess"] != null)
{
    <div id="messageSuccess" class="bg-success d-flex align-items-center text-white" style="height:50px">
        @TempData["MessageSuccess"]
    </div>
}
@if (TempData["MessageError"] != null)
{
    <div id="messageError" class="bg-danger d-flex align-items-center text-white" style="height:50px;">
        @TempData["MessageError"]
    </div>
}
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"><a asp-action="Index" asp-controller="User" asp-area="Admin">Danh sách tài khoản</a></h6>
        <div class="float-right">
            <form asp-action="Index" asp-controller="User" asp-area="Admin" method="get">
                <div class="input-group">
                    <input name="nameSearch" class="form-control" placeholder="Tìm kiếm theo tên ..." />
                    <input type="submit" value="Tìm kiếm" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>FullName</th>
                    <th>Email</th>
                    <th>PhoneNumber</th>
                    <th>DateOfBirth</th>
                    <th>ProfileImage</th>
                    <th>IsActive</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>FullName</th>
                    <th>Email</th>
                    <th>PhoneNumber</th>
                    <th>DateOfBirth</th>
                    <th>ProfileImage</th>
                    <th>IsActive</th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var c in Model.Users ?? Enumerable.Empty<User>())
                {
                    <tr>
                        <td>@c.Id</td>
                        <td>@c.FullName</td>
                        <td>@c.Email</td>
                        <td>@c.PhoneNumber</td>
                        <td>@c.DateOfBirth</td>
                        <td><img src="/Images/@c.ProfileImage" alt="@c.ProfileImage" style="width:50px; height:50px;" /></td>
                        <td>
                            <form asp-action="UpdateIsActive" asp-controller="User" asp-area="Admin" method="post">
                                <input type="hidden" name="id" value="@c.Id" />
                                <input type="submit" name="del" value="@(c.IsActive == 0 ? "Locked" : "Not Locked")" class="btn @(c.IsActive == 0 ? "btn-warning" : "btn-success")" />
                            </form>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
        <div page-model="@Model.PagingInfo" page-action="Index" page-class="btn" page-url-nameSearch="@Model.NameSearch" page-classes-enable="true" page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group m-1 text-black"></div>
    </div>
</div>