@model IEnumerable<Post>
@foreach (var postTops in Model ?? Enumerable.Empty<Post>())
{
    <div class="card col-12">
        <a class="text-decoration-none" style="color:black;" asp-action="Detail" asp-controller="Home" asp-route-id="@postTops.Id">
            <img class="card-img-top " style="width:290px; height:160px" src="/Images/@postTops.Image" alt="@postTops.Image">
            <div class="card-body">
                <h5 class="card-title">@postTops.Title</h5>
                <p class="card-text">Lượt xem: @postTops.View</p>
                <p class="card-text">@postTops.Content.Substring(0, 75)...</p>
            </div>
        </a>
    </div>
}