@model DetailViewModel
@{
    ViewBag.Title = "Detail Post";
}
<div class="card col-12">
    <img class="card-img-top " style="width:600px; height:500px" src="/Images/@Model.Post.Image" alt="@Model.Post.Image">
    <div class="card-body">
        <h5 class="card-title">@Model.Post.Title</h5>
        <p class="card-text">@Model.Post.Content</p>
    </div>
</div>
<div class="border card shadow-lg col-12" style="height:400px; overflow:hidden; position:relative; width:100%">
    <h5>Danh sách bình luận:</h5>
    <div class="card-body " style="height: calc(100% - 70px); overflow:auto">
        @if(Model?.Post?.Comments != null)
        {
            @foreach (var comment in Model.Post.Comments )
            {
                <div class="shadow-lg ">
                    <div class="row" style="margin-bottom:5px">
                        <div class="col-1" style="position:relative">
                            <div style="position:absolute; right:0">
                                <img src="/Images/@comment.User.ProfileImage" style="width:20px; height:20px; border-radius: 50%; margin:auto" alt="@comment.User.ProfileImage" />
                            </div>
                        </div>
                        <div class="col-11 shadow-lg" style=" height:auto; border-radius:10px; background-color:darkgrey">
                            <strong>@comment.User.FullName</strong>
                            <p>@comment.Content</p>
                        </div>
                    </div>

                    
                </div>
            }
        }
        else
        {
            <p>No comments available.</p>
        }
    </div>
    <div class="bg-white" style="position:absolute; bottom:0; left:0; width:100%; border-top: 1px solid #ddd">
        <form asp-action="AddComment" asp-controller="Home" method="post" >
            <div class="input-group">
                <input type="hidden" name="postId" value="@Model.Post.Id" />
                <input name="content" placeholder="..." class="form-control" />
                <div class="input-group-append">
                    <input type="submit" value="Bình luận" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
   
</div>
<div class="col-12">
    <div class="row">
        @foreach(var post in Model.PostRelates ?? Enumerable.Empty<Post>())
        {
            <div class="card col-3">
                <a class="text-decoration-none" style="color:black;" asp-action="Detail" asp-controller="Home" asp-route-id="@post.Id">
                    <img class="card-img-top " style="width:135px; height:60px" src="/Images/@post.Image" alt="@post.Image">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size:14px">@post.Title</h5>
                        <p class="card-text" style="font-size:12px">@post.Content.Substring(0, 50)...</p>
                    </div>
                </a>
            </div>
        }
    </div>
</div>